/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET END */

html {
	font-family: aileron, sans-serif;
	font-weight: 100;
	font-style: normal;
	font-size: 22px;
	box-sizing: border-box;
	color: black;
}

body {
	line-height: 1.5;
	background-color: rgb(246, 236, 236);
	margin: 0 auto;
	max-width: 100%
}

main {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	height: auto;
}

*,
*:after,
*:before {
	box-sizing: inherit;
	line-height: inherit;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}


nav ul li a,
nav ul li a:link,
nav ul li a:visited {
	color: #b569e7;
}

nav a:hover {
	border-bottom: 2px solid white;
	transition: all 0.2s ease-out;
}

/* text */

h1,
h2,
h3,
h4,
h5 {
	font-weight: bold;
	margin: 1em 0 0.5em;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1rem;
}

p {
	margin: 1em 0;
}

.servicescontent h3 {
	text-align: center;
}

#promem h3 {
	color: white;
}

.footer p {
	color: white;
}

.footer a {
	color: white;
}

.socialicons {
	color: white;
}

header b {
	color: white;
}

nav a {
	font-size: 1.2rem;
}

i {
	padding-left: 5px;
	padding-right: 5px;
}

.bannerabout h1,
.bannercontact h1 {
	color: black;
	text-align: center;
	display: block;
	margin: auto;
	padding-top: 100px;
}

/* text */



/* HEADER */

header {
	max-width: 100%;
	height: auto;
}

.top {
	background-color: rgb(57, 57, 57);
	height: 180px;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.example {
	margin: 10px;
	align-items: center;
	align-self: center;
}



header img {
	width: 190px;
	height: 160px;
	float: left;
	align-items: center;
	align-self: center;
}

.nav {
	background-color: black;
	text-align: center;
	margin-top: 15px;
}

nav ul {
	display: flex;
	list-style: none;
	padding: 15px;

}

nav ul li {
	flex: 1;
}

i {
	color: white;
}

#hcinfo i {
	color: black;
}

nav ul li a,
nav ul li a:link,
nav ul li a:visited {
	color: white;
}


a:hover,
a:focus {
	color: pink;
}

nav ul a {
	text-decoration: none;
	color: #222;
}

input {
	border-radius: 15px;
	border-color: rgb(57, 57, 57);

}

.nav-content {
	padding-left: 50px;
	padding-right: 50px;
}

/* banner home page*/

.banner {
	background: rgb(0, 0, 0) url("images/homebanner.jpg") no-repeat;
	background-size: cover;
	background-position: 0px -200px;
	height: 400px;
	width: auto;
}

/* banner about page */

.bannerabout {
	background: rgb(0, 0, 0) url("images/aboutbanner.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	height: 400px;
	width: auto;
}

/* banner contact page */

.bannercontact {
	background: rgb(0, 0, 0) url("images/contactbanner.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	height: 400px;
	width: auto;
}


.bannercontent {
	height: 300px;
	width: 100%;
	padding: 20px;
	color: white;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(1);
	align-content: space-around;
	align-self: center;
}

.banner-text {
	grid-area: text;
	align-self: center;
}

.book-button {
	grid-area: button;
	align-self: center;
	margin: auto;

}

.book-button:hover {
	transform: scaleY(1.2);
}

.bannercontent {
	grid-template-areas: "text button"
}

.topcontent {

	background-color: rgb(224, 202, 192);
}



/* HEADER */

/* button */

.btn {
	text-decoration: none;
	display: inline-block;
	border: 2px solid black;
	border-radius: 8px;
	color: black;
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
}




/* SERVICES BOXES */

.box {
	box-sizing: border-box;
	padding: 20px;
	width: 100%;
	height: auto;
	background-color: rgb(224, 202, 192);
}

.btn:hover,
.btn:focus {
	background-color: rgb(31, 30, 30);
	border: 2px solid rgb(0, 0, 0);
	color: inherit;
}


img {
	width: 100%;
}


.servicescontent {

	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4);
	width: 98%;
	height: auto;
	display: grid;
	margin: 30px auto;

}


.nailimage {
	grid-area: one;
}

.nailbox {
	grid-area: two;
}

.handfeetimage {
	grid-area: tree;
}

.handfeetbox {
	grid-area: four;
}

.waxingimage {
	grid-area: five;
}

.waxingbox {
	grid-area: six;
}

.lashimage {
	grid-area: seven;
}

.lashbox {
	grid-area: eight;
}

.servicescontent {
	grid-template-areas: "two one"
		"tree four"
		"six five"
		"seven eight"

}



/* Special Packages */

#special {
	background: rgb(0, 0, 0) url("images/special.jpeg") no-repeat;
	background-size: cover;
	align-content: center;
	height: 450px;
	width: 100%;
	padding: 20px;
	margin-bottom: 23px;
	line-height: 12pt;
}


/* Promotion Membership */


#promem {
	width: 100%;
	height: auto;
	text-align: center;
}

#promem img {
	width: 150px;
	height: 150px;
}

.promotions {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	background-color: rgb(79, 152, 125);
	padding: 10px;
}

.membership {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	background-color: rgb(79, 152, 125);
	padding: 15px;
	margin-top: 20px;
}

.promotionstext {
	align-self: center;
}

.membershiptext {
	align-self: center;
}

/* Hours Contact */

#hcinfo {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(1);
	text-align: center;
	padding-left: 25px;
}

.hours {
	grid-area: hours;

}

.contact {
	grid-area: message;

}

#hcinfo {
	grid-template-areas: "hours"
		"message"
}





/* FOOTER */

.footer {
	background-color: black;
	text-align: center;
	padding bottom: 10px;
}

.socialicons i {
	padding-top: 10px;
	font-size: 25px;

}


/* -------------------------------
     	 Desktop Style
---------------------------------- */
@media screen and (min-width: 760px) {
	html {
		font-size: 16px;
	}

	body {
		max-width: 100%;
		margin: 0 auto;
		padding: 1em;
	}

	/* Header and Nav */

	.topcontent {
		display: flex;
		justify-content: space-between;
	}

	.search {
		display: flex;
	}

	header div .im-menu {
		display: none;
	}

	/* Services */

	.servicescontent {

		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2);
		width: 100%;
		height: auto;
		display: grid;
	}


	.nailimage {
		grid-area: one;
	}

	.nailbox {
		grid-area: two;
	}

	.handfeetimage {
		grid-area: tree;
	}

	.handfeetbox {
		grid-area: four;
	}

	.waxingimage {
		grid-area: five;
	}

	.waxingbox {
		grid-area: six;
	}

	.lashimage {
		grid-area: seven;
	}

	.lashbox {
		grid-area: eight;
	}

	.servicescontent {
		grid-template-areas: "two one four tree"
			"five six seven eight"
	}

	/* Special */
	#special {
		height: 380px;
	}

	/* Promotion Membership */
	#promem {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.promotions {
		margin-right: 10px;
	}

	.membership {
		margin-left: 10px;
		margin-top: 0;
	}

	/* Hours Contact */

	#hcinfo {
		width: 100%;
		height: auto;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2);
		text-align: start;
		padding-left: 25px;
	}

	.hours {
		grid-area: hours;
	}

	.contact {
		grid-area: message;
	}


	#hcinfo {
		grid-template-areas: "hours message"
	}

	/* FOOTER */

	.footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-self: center;
		padding-left: 20px;
		padding-right: 20px;
	}

}

/* -------------------------------
    		 Mobile Style
---------------------------------- */

@media screen and (max-width: 760px) {
	html {
		font-size: 18px;
		max-width: 100%
	}

	.hours {
		border-bottom: 2.3px solid black;
	}

	.nav,
	.banner-text,
	.bookbtn,
	.inputexample {
		display: none;
	}

	#login {
		display: none;
	}


	.top {
		display: flex;
		justify-content: space-between;
		padding: 30px;
	}

	header div .im-menu {
		align-self: center;
	}


	header img {
		align-items: center;
		align-self: center;
	}


}